name: GitHub Actions Demo
on:
  workflow_call:
    secrets:
      MY_SECRET:
        required: true

jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - run: echo "Starting this job"
      - run: |
          echo "the secret is ${{ secrets.MY_SECRET }}"
          if [ -z "${{ secrets.MY_SECRET }}" ]
          then
            echo "secret does not exist"
          else
            echo "secret exists"
          fi
